.todo__sidebar {
    background-color: #F9F9F9;
    width: 270px;
}

.links {
    padding-top: 30px;
    padding-bottom: 67.5vh;
}

.links div {
    margin-top: 15px;
    width: 120px;
    cursor: pointer;
}
.links p {
    margin-left: 10px;
}

.sidebar__active__link p {
    color: #FF4F5A;
}

.sidebar__active__link2 path {
    fill: #FF4F5A;
}


.links div img svg{
    fill: #FF4F5A;
}